
<div class="prod">
    <ul>
        <li>Bag
          <ul>
            <li>Sling</li>
            <li>Trolly </li>
            <li>Backpack </li>
          </ul>
        </li>
        <li>Home Decore
            <ul>
                <li>Mat</li>
                <li>Clock</li>
                <li>Beadspread </li>
              </ul>
        </li>
        <li>Shoes
            <ul>
                <li>Formal</li>
                <li>Casual</li>
                <li>sneakers</li>
              </ul>
        </li>
      </ul>

</div>
